html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	font: 1em Graphik !important;
	color: #222;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.mode-embed #content-root>.embed-layout-container {
	padding: 0 !important;
}

#content {
	display: flex;
	color: #000;
	height: 100vh;
	line-height: 1.4em;
}

.nav {
	width: 300px;
	overflow-y: scroll;
}

.nav .user {
	padding: 16px 12px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}

.nav .user:hover {
	background: #eee;
}

.nav .user .agent {
	font-size: 11px;
	background: #DC9E11;
	color: white;
	padding: 3px 5px;
	border-radius: 4px;
	margin: 0;
	line-height: 1em;
	float: right;
}

.nav .active {
	background: #D3D2D7;
}

.nav .active .stats, .nav .active .updated {
	color: #666;
}

.nav .unsubscribed {
	background: #FFDDDD;
}

.nav .replied {
	background: #E7FFE7;
}

.nav .stats, .nav .updated {
	font-size: 13px;
	color: #aaa;
}

.nav .searchResultsNum {
	font-size: 11px;
	color: #aaa;
	padding: 4px 12px;
	border-bottom: 1px solid #ccc;
}

.nav .search {
	padding: 12px;
	border-bottom: 1px solid #ccc;
}

.nav .search input {
	width: 243px;
	border: 1px solid #ccc;
	padding: 8px;
	border-radius: 4px;
}

.texts {
	padding: 40px;
	flex-grow: 1;
	overflow-y: scroll;
}

.texts .text {
	width: 360px;
	background: #DDDCE2;
	border-radius: 16px;
	padding: 8px 12px;
	margin-bottom: 8px;
}

.texts .customer {
	background: #1990EC;
	margin-left: 100px;
	color: white;
}

.texts .text .time {
	font-size: 13px;
	color: #666;
	padding-top: 12px;
}

.texts .customer .time {
	color: #ccc;
}

.sidebar {
	width: 300px;
	display: flex;
	flex-direction: column;
}

.info {
	border-bottom: 1px solid #ccc;
	flex-grow: 1;
	padding: 20px;
	overflow-y: scroll;
}

.mainStats {
	flex-grow: 1;
	padding: 20px;
	overflow-y: scroll;
}

.mainStats p {
	padding-bottom: 1em;
}

.mainStats .statName {
	text-transform: uppercase;
	font-size: 0.7em;
	font-weight: 600;
}

.mainStats .stat {
	padding-bottom: 1em;
}

.mainStats .stat .small {
	font-size: 13px;
}

.info .name {
	font-size: 32px;
	font-weight: 400;
	padding-bottom: 12px;
	line-height: 1em;
}

.info .adminLink {
	padding-bottom: 12px;
}

.info .score {
	font-weight: 400;
	padding: 12px 0 0 0;
}

.info .isAgent {
	font-weight: 400;
	padding: 0 0 12px 0;
}

.info .prefs {
	padding-top: 12px;
	font-size: 13px;
	text-transform: uppercase;
	color: #999;
}