html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	font: 1em Graphik !important;
	color: #222;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.header {
	display: flex;
	background: #0040E6;
	padding: 20px;
	color:  white;
}

#content {
	line-height: 1.3em;
}

.summary {
	margin: 2em;
}

.summary .nav {
	display: flex;
	font-size: 1.5em;
	margin-bottom: 1em;
}

.summary .nav .selected  {
	color: #0040E6;
	font-weight: 600;
}

.summary .nav div {
	margin-right: 1em;
}

.summary .nav span {
	padding-left: 0.3em;
}

.summary .stats {
	display: flex;
	padding-bottom: 1em;
	border-bottom: 1px solid #ccc;
}

.summary .sumStats,
.home .statsSec {
	margin-right: 2em;
}

.summary .sumStats .sumHeader,
.home .statsSec .statHeader {
	text-transform: uppercase;
	font-size: 0.7em;
	font-weight: 600;
}

.summary .sumStats .sumNum span,
.home .statsSec .statNum span {
	font-size: 0.7em;
	color: #999;
	text-transform: uppercase;
	padding-left: 0.3em;
}

.home {
	margin: 1em 0em 4em 2em;
}

.home h2 {
	font-size: 1.3em;
	font-weight: 600;
}

.home .desc {
	font-size: 0.8em;
	color: #999;
}

.home .stats {
	margin: 0.5em 0;
}

.home .stats .statsTop,
.home .stats .statsPrice,
.home .stats .statsEng {
	display: flex;
	flex-wrap: nowrap;
	margin: 0.5em 0;
}

.home .stats .statsSec {
	width: 5em;
	flex-grow: 0;
}

.home .links {
	font-size: 0.7em;
	color: #0040E6;
	opacity: 0.5;
}

.main {
	display: flex;
	position: relative;
}

.homes {
	flex-grow: 0;
	width: 50%;
}

#map {
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	flex-grow: 1;
	background: blue;
	position: fixed !important;
}

.marker-price {
  background-color: #4285F4;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 14px;
  padding: 10px 15px;
  position: relative;
}

.currentHome .marker-price {
	background: red;
}

.currentHome .marker-price::after {
	border-top: 8px solid red;
}

.nearbyComp .marker-price {
	background: green;
}

.nearbyComp .marker-price::after {
	border-top: 8px solid green;
}

.priceComp .marker-price {
	background: purple;
}

.priceComp .marker-price::after {
	border-top: 8px solid purple;
}

.marker-price::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #4285F4;
}

.highlight .marker-details {
	display: block;
}

.marker-details {
	display: none;
	background: white;
	border-radius: 8px;
	padding: 20px;
}

.marker-details .price {
	font-weight: 600;
}

.highlight .marker-price {
	display: none;
}